<section class="main-content">
    <div class="admin-dashboard-container">
        <div class="admin-dashboard-side-menu">
            <ul id="linksList">
                <li screenLink="1">Cadastro item</li>
                <li screenLink="2">Listar itens</li>
                <li screenLink="3">No action</li>
                <li screenLink="4">No action</li>
            </ul>
        </div>
        <div class="admin-dashboard-screen" id="adminDashboardScreen">
            <div screen="1" class="screen" style="display: block;">

                <form action="/paintings/register" method="post" enctype="multipart/form-data">
                    <div class="form-field-container">
                        <label for="name">Nome do quadro:</label>
                        <input type="text" name="name" id="name" required="true" placeholder="Digite o nome do quadro">
                    </div>
                    <div class="form-field-container">
                        <label for="description">Descrição:</label>
                        <textarea name="description" id="description" required="true"
                            placeholder="Digite a descrição do quadro" maxlength="60000"></textarea>
                    </div>
                    <div class="form-field-container">
                        <label for="height">Altura (cm):</label>
                        <input type="number" name="height" id="height" required="true"
                            placeholder="Digite a altura em centimetros do quadro">
                    </div>
                    <div class="form-field-container">
                        <label for="width">Largura (cm):</label>
                        <input type="number" name="width" id="width" required="true"
                            placeholder="Digite a largura em centimetros do quadro">
                    </div>
                    <div class="form-field-container">
                        <label for="frameType">Escolha o tipo de moldura:</label>
                        <select id="frameType" name="frameType">
                            <option value="madeira">Madeira</option>
                            <option value="metal">Metal</option>
                            <option value="acrilico">Acrílico</option>
                        </select>
                    </div>
                    <div class="form-field-container">
                        <label for="price">Preço:</label>
                        <input type="number" name="price" id="price" required="true"
                            placeholder="Digite a preço do quadro">
                    </div>
                    <div class="form-field-container">
                        <label for="upload-image">Imagem (png | jpg | jpeg):</label>
                        <input type="file" id="upload-image" name="image" accept="image/*" multiple>
                        {{!-- <input type="file" id="upload-image" name="image" accept="image/*"> --}}
                    </div>

                    <div class="form-field-container">
                        <input type="submit" value="Cadastrar" class="submit-btn">
                    </div>
                </form>

            </div>
            <div screen="2" class="screen tableScreen">
                <table>
                    <thead>
                        <tr>
                            {{!-- <th>ID</th> --}}
                            <th>Nome</th>
                            {{!-- <th>Descrição</th> --}}
                            {{!-- <th>Altura</th> --}}
                            {{!-- <th>Largura</th> --}}
                            {{!-- <th>Moldura</th> --}}
                            {{!-- <th>Preço</th> --}}
                            <th>Data de Criação</th>
                            <th>Última Atualização</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each paintings}}
                        <tr>
                            {{!-- <td>{{this.id}}</td> --}}
                            <td>{{this.name}}</td>
                            {{!-- <td>{{this.description}}</td> --}}
                            {{!-- <td>{{this.height}}</td> --}}
                            {{!-- <td>{{this.width}}</td> --}}
                            {{!-- <td>{{this.frameType}}</td> --}}
                            {{!-- <td>{{this.price}}</td> --}}
                            <td>{{this.createdAt}}</td>
                            <td>{{this.updatedAt}}</td>
                            <td>
                                <form action="/paintings/update/{{this.id}}" class="edit-remove-form" method="get">
                                    <input type="submit" value="Editar">
                                </form>
                            <td>
                                <form action="/paintings/delete/{{this.id}}" class="edit-remove-form" method="post">
                                    <input type="submit" value="Excluir">
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="/js/admin-dashboard.js"></script>