<!-- Início slider -->
<section class="inicio" id="inicio">
    <h2>Início</h2>
    <div class="slider">
        <div class="list">
            <a href="#">
                <div class="item">
                    <img src="img/slider/1.jpg" alt="">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="img/slider/2.jpg" alt="">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="img/slider/3.jpg" alt="">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="img/slider/4.jpg" alt="">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="img/slider/5.jpg" alt="">
                </div>
            </a>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<!-- Fim slider -->

<!-- Início galeria grid -->
<section class="galeria" id="galeria">
    <h2>Galeria</h2>
    <div class="grid-container">
        {{#if paintings}}
            {{#each paintings}}
            <a href="/paintings/details/{{this.id}}">
                <div class="grid-card">
                    <img src="/img/paintings/{{this.id}}/{{this.cover}}" alt="#" class="card-img">
                </div>
                <div class="details">
                    <span class="paint-name">{{this.name}}</span><br>
                    <span class="paint-price">R$ {{this.price}},00</span>
                    <button class="cart-button">Comprar</button>
                </div>
            </a>
            {{/each}}
        {{else}}
            <p>Sem dados!</p>
        {{/if}}

    </div>
</section>
<!-- Fim galeria grid -->

<script src="/js/slider.js"></script>