<section class="details">
    <div class="container">
        <div class="product-image">
            <img src="/img/paintings/{{painting.image}}" alt="">
        </div>

        <div class="product-details">
            <h1>{{painting.name}}</h1>
            <p><span>Descrição:</span> {{painting.description}}</p>
            <p><span>Altura:</span> {{painting.height}}cm</p>
            <p><span>Largura:</span> {{painting.width}}cm</p>
            <p><span>Tipo de Moldura:</span> {{painting.frameType}}</p>
            <p><span>Valor:</span> R$ {{painting.price}},00</p>
            <span data="{{painting.id}},{{painting.image}},{{painting.name}},{{painting.price}}" class="add-to-cart" id="addToCart">Adicionar ao Carrinho</span>
        </div>
    </div>
</section>


{{!-- Início carrinho --}}
<script>
    const addToCartBtn = document.querySelector("#addToCart");

    addToCartBtn.addEventListener("click", () => {
        const paintingDetails = addToCart.getAttribute("data");

        if(!localStorage.getItem("cart")) {
            localStorage.setItem("cart", JSON.stringify({details: [paintingDetails]}));
            return;
        }

        const cart = JSON.parse(localStorage.getItem("cart"));

        cart.details.push(paintingDetails);

        localStorage.setItem("cart", JSON.stringify(cart));
    })
</script>
{{!-- Fim carrinho --}}