<section class="details">
    <div class="details-container">
        <div class="img-container">
            <div class="img-destaque-container">
                <img src="{{ painting.cover }}" alt="" class="img-destaque" id="imgDestaque">
            </div>
            <div id="imgCardsContainer" class="img-cards-container">
                {{!-- cards --}}
                {{#each painting.imgArray}}
                    <img id="myimage" src="{{this}}" class="img-card">
                {{/each}}
            </div>
        </div>
        <div class="detalhes-container">
            {{!-- details --}}
            <h1>{{painting.name}}</h1>
            <p>{{painting.description}}</p>
            <p><span>Dimensões:</span> {{painting.height}}x{{painting.width}}cm</p>
            <p><span>Tipo de Moldura:</span> {{painting.frameType}}</p>
            <p class="valor"><span>R$</span> {{painting.price}},00</p>
            {{#if session.userid}}
            <span data="{{painting.id}},{{painting.image}},{{painting.name}},{{painting.price}}" class="add-to-cart"
                id="addToCart">Adicionar ao Carrinho</span>
            {{else}}
            <a href="/user/login"><span class="add-to-cart">Faça login para adicionar ao carrinho</span></a>
            {{/if}}
        </div>
    </div>
</section>


<script src="/js/details.js" defer></script>

<script>
    // Início muda imagem destaque
    let imgCardsContainer = document.querySelector("#imgCardsContainer");
    let imgDestaque = document.querySelector("#imgDestaque");

    const imgCardsArray = Array.from(imgCardsContainer.children); // Converte para array

    imgCardsArray.forEach(function(imgCard) {
        imgCard.addEventListener('click', (e) => {
            imgDestaque.setAttribute("src", e.target.getAttribute("src"));
        })
    });
    // Fim muda imagem destaque
</script>