<section class="details">
    <div class="container">
        <div class="product-image">
            <img src="/img/paintings/{{painting.image}}" alt="">
        </div>

        <div class="product-details">
            <h1>{{painting.name}}</h1>
            <p><span>Descrição:</span> {{painting.description}}</p>
            <p><span>Altura:</span> {{painting.height}}cm</p>
            <p><span>Largura:</span> {{painting.width}}cm</p>
            <p><span>Tipo de Moldura:</span> {{painting.frameType}}</p>
            <p><span>Valor:</span> R$ {{painting.price}},00</p>
            {{#if session.userid}}
                <span data="{{painting.id}},{{painting.image}},{{painting.name}},{{painting.price}}" class="add-to-cart" id="addToCart">Adicionar ao Carrinho</span>
            {{else}}
                <a href="http://localhost:3000/user/login"><span class="add-to-cart">Entrar</span></a>
            {{/if}}

        </div>
    </div>
</section>


{{!-- Início carrinho --}}
<script> //adiciona itens ao localstorage
    const addToCartBtn = document.querySelector("#addToCart");

    addToCartBtn.addEventListener("click", () => {
        const paintingDetails = addToCart.getAttribute("data");

        if (!localStorage.getItem("cart")) {
            localStorage.setItem("cart", JSON.stringify({ details: [paintingDetails] }));
            return;
        }

        const cart = JSON.parse(localStorage.getItem("cart"));

        cart.details.push(paintingDetails);

        localStorage.setItem("cart", JSON.stringify(cart));

        alert("Movido para o carrinho!")
    })
</script>
{{!-- Fim carrinho --}}